*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    opacity: 0.6;
}

#root:hover {
    opacity: 1;
}

.VideoComponent {
    height: 100vh;
    font-size: 2.2em;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.VideoComponent .MessageContainer{
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100%;
}

.VideoComponent .MessageContainer .MessageList {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
}

.VideoComponent .MessageContainer .NoMessages{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.VideoComponent .MessageContainer .NoMessages div{
    text-align: center;
}

.VideoComponent .MessageContainer .NoMessages svg{
    fill:#898395;
    display: inline;
}

.VideoComponent .MessageContainer .NoMessages p{
    font-size: 2.5rem;
    margin-top: 1em;
    width: 100%;
    color: #898395;
}

.VideoComponent .MessageContainer .MessageList .MessageItem{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.VideoComponent .MessageContainer .MessageList .MessageItem:last-child{
    margin-bottom: 0;
}

.VideoComponent .MessageContainer .MessageList .MessageItem .MessageBody {
    display: inline-block;
    background-color: #6441a4;
    color: white;
    border-radius: 0.2em;
    padding: 0.9em 1em;
    width: 100%;
    word-wrap: break-word;
}

.VideoComponent.VideoComponent-light{
    background: #FFF;
    color: #232127;

}

.VideoComponent.VideoComponent-dark{
    background: #201C2B;
    color: #e5e3e8;
}