.LiveConfigPage {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.LiveConfigPage p {
    margin: 0;
    padding: 0;
}

.LiveConfigPage .MessageForm {
    display: flex;
}

.LiveConfigPage .MessageForm input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.LiveConfigPage .OptionsBoard {
    margin-top: 7px;
}

.LiveConfigPage .OptionsBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LiveConfigPage .OptionsBoard .RemoveAllConfirmation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LiveConfigPage .OptionsBoard .RemoveAllConfirmation span {
    color: red;
    margin-right: 5px;
}

.LiveConfigPage .OptionsBoard .RemoveAllConfirmation button, 
.LiveConfigPage .OptionsBoard button {
    margin: 0 5px 0 0;
}

.LiveConfigPage .OptionsBoard .RemoveAllConfirmation button:last-child,
.LiveConfigPage .OptionsBoard button:last-child {
    margin: 0;
}

.LiveConfigPage .OptionsBoard button:disabled {
    background-color: rgb(117, 117, 117);
    cursor: not-allowed;
}

.LiveConfigPage .OptionsBoard button:disabled:hover {
    background-color: rgb(117, 117, 117);
    border-color: rgb(117, 117, 117); 
}

.LiveConfigPage input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 7px 0 0;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}

.LiveConfigPage.LiveConfigPage-dark input {
    background: #0f0e11;
    border: 1px solid #392e5c;
    color: rgb(250, 249, 250);
    color: #faf9fa;
}

.LiveConfigPage.LiveConfigPage-light input {
    background: #fff;
    border: 1px solid #dad8de;
    color: #433f4a;
}

.LiveConfigPage input:focus {
    border-color: #7d5bbe;
    box-shadow: 0 0 6px -2px #7d5bbe;
}

.LiveConfigPage button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #6441a4;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.LiveConfigPage.LiveConfigPage-dark button:hover {
    background: #7d5bbe;
    border-color: #7d5bbe;
    color: #fff;
}

.LiveConfigPage-dark {
    color: #FFF;
}

.LiveConfigPage-light {
    color: #232127;
}

.LiveConfigPage .MessageList ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.LiveConfigPage .MessageContainer {
    display: flex;
    flex-direction: column;
}

.LiveConfigPage .MessageList {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    height: 214px;
}

.LiveConfigPage .MessageList .MessageItem {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    padding-right: 13px;
}

.LiveConfigPage .MessageList .MessageItem .MessageRemove {
    margin-right: 5px; 
}

.LiveConfigPage .MessageList .MessageItem .MessageRemove button {
    background: none;
    color:#6441a4;
    border-radius: 0;
    line-height: initial;
    margin-top: 0;
    border: none;
    padding: 0;
}

.LiveConfigPage .MessageList .MessageItem .MessageRemove button {
    margin-top: 3px;
}

.LiveConfigPage .MessageList .MessageItem .MessageBody {
    max-width: 80%;
    display: inline-block;
    padding: 6px 10px;
    background-color: #6441a4;
    color: white;
    border-radius: 10px;
}

.LiveConfigPage .TimerMessages .MessageContainer .MessageList {
    height: 180px;
}

@keyframes blinkBackground {
	from { 
        background-color: #c5c5c5; 
    }
	to { 
        background-color: #e8e8e8; 
    }
}

.LiveConfigPage .TimerMessages .MessageContainer .MessageList .current_msg {
    animation: blinkBackground 1.5s linear infinite;
    border-radius: 10px;
}

.LiveConfigPage .TimerMessages .TimerSelection {
    display: flex;
    justify-content: space-between;
}

.LiveConfigPage .TimerMessages .TimerSelection .NextIn {
    width: 100%;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    padding: 4.5px 0;
}

.LiveConfigPage .TimerMessages .TimerSelection .NextIn span {
    font-size: 11px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.LiveConfigPage .TimerMessages .TimerSelection .NextIn .NextInAdd,
.LiveConfigPage .TimerMessages .TimerSelection .NextIn .NextInRemove {
    height: 23px;
    cursor: pointer;
}

.LiveConfigPage .TimerMessages .TimerSelection .NextIn .NextInAdd:hover,
.LiveConfigPage .TimerMessages .TimerSelection .NextIn .NextInRemove:hover {
    opacity: 0.75;
}

.LiveConfigPage .TimerMessages .TimerSelection .NextIn input:disabled + div.disabled {
    display: block;
}

.LiveConfigPage.LiveConfigPage-dark .TimerMessages .TimerSelection .Repeat,
.LiveConfigPage.LiveConfigPage-dark .TimerMessages .TimerSelection .NextIn {
    border: 1px solid #392e5c;
    background: #0f0e11;
}

.LiveConfigPage.LiveConfigPage-light .TimerMessages .TimerSelection .Repeat,
.LiveConfigPage.LiveConfigPage-light .TimerMessages .TimerSelection .NextIn  {
    border: 1px solid #dad8de;
    background: #fff;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat {
    width: 100%;
    color: #433f4a;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat span.title {
    padding-left: 10px;
    font-size: 11px;
    font-weight: 400;
}

.LiveConfigPage.LiveConfigPage-light .TimerMessages .TimerSelection .Repeat span.title {
    color: rgb(117, 117, 117);
}

.LiveConfigPage.LiveConfigPage-dark .TimerMessages .TimerSelection .Repeat span.title {
    color: rgb(117, 117, 117);
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    position: relative;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container .repeat_label {
    border-radius: 1em/50%;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 2em;
    order: 0;
    position: relative;
    transition: background-color .1s ease;
    vertical-align: bottom;
    width: 4em;
    background: #575260;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container .repeat_label:hover {
    background: #6441a4;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat  .container .repeat_label:after {
    bottom: .2em;
    content: "";
    display: block;
    left: .2em;
    position: absolute;
    top: .3em;
    transition: left .1s ease;
    width: 1.6em;
    background: #fff;
    border-radius: 50%;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container input:disabled + .repeat_label {
    opacity: .5;
    cursor: not-allowed;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat .container input:checked + .repeat_label {
    background: #14b866;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat  .container input:checked + .repeat_label:after {
    content: "";
    left: calc(100% - 1.8em);
    top: .3em;
}

.LiveConfigPage .TimerMessages .TimerSelection .Repeat  .container input:checked + .repeat_label:before {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    content: "";
    display: block;
    height: .3em;
    left: 1.2em;
    position: absolute;
    top: .9em;
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    width: .7em;
}


